<div class="mainContainer" th:fragment="projectTable" style="display: flex; flex-direction: column;">
  <div>
    <h2>Project Table</h2>
  </div>
  <div class="holder" style="border: 1px solid red;">
    <div class="mainHolder" style="border: 1px solid red; width: 100%;">
      <table id="projectTable" class="compact hover cell-border order-column" style="height: 90%; width: 100%; margin-top: 10px;" >
        <thead class="dark-header"> 
          <tr>
            <th style="text-align: center; background-color: #171e3a;">Project</th>
            <th style="text-align: center; background-color: #171e3a;">Client</th>
            <th style="text-align: center; background-color: #171e3a;">Duration</th>
            <th style="text-align: center; background-color: #171e3a;">Development Type</th>
            <th style="text-align: center; background-color: #171e3a;">Members</th>
            <th style="text-align: center; background-color: #171e3a;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="project:${listOfProjects}"> 
            <td>  
              <a
                th:text="${project.proj_name}"
                class="linkInfo"
                th:attr="onclick='projectAttribute(\'' + ${project.proj_id} + '\')'"
              ></a>
            </td> 
            <td th:text="${project.client_name}" style="text-align: center;"></td>
            <td th:text="${project.start_date + ' - ' + project.end_date}" style="text-align: center;"></td>
            <td th:text="${project.dev_type_name}" style="text-align: center;"></td>
            <td>
              <a
                th:text="${project.members}"
                class="linkInfo"
                th:attr="onclick='projectMembers(\'' + ${project.proj_id} + '\')'"
              ></a>
            </td>
            <td th:text="${project.proj_status_name}" style="text-align: center;"></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  </div>

  <!-- for title -->
  <!-- th:href="@{/index/{proj_id}(proj_id=${project.proj_id})}" -->

  <!-- for members -->
  <!-- th:href="@{/index/projectMembers/{proj_id}(proj_id=${project.proj_id})}" -->