<div class="mainContainer" th:fragment="projectTable">
  <div class="holder">
    <div class="mainHolder" >
      <table id="projectTable" class="compact hover cell-border order-column">
        <thead class="dark-header"> 
          <tr>
            <th>Project</th>
            <th>Client</th>
            <th>Duration</th>
            <th>Development Type</th>
            <th>Members</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="project:${listOfProjects}">
            <td>  
              <a
                th:text="${project.proj_name}"
                class="linkInfo"
                th:attr="onclick='projectAttribute(\'' + ${project.proj_id} + '\')'"
              ></a>
            </td> 
            <td th:text="${project.client_name}" style="text-align: center;"></td>
            <td th:text="${project.start_date + ' - ' + project.end_date}" style="text-align: center;"></td>
            <td th:text="${project.dev_type_name}" style="text-align: center;"></td>
            <td>
              <a
                th:text="${project.members}"
                class="linkInfo"
                th:attr="onclick='projectMembers(\'' + ${project.proj_id} + '\')'"
              ></a>
            </td>
            <td th:text="${project.proj_status_name}" style="text-align: center;"></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  </div>
  

  <!-- for title -->
  <!-- th:href="@{/index/{proj_id}(proj_id=${project.proj_id})}" -->

  <!-- for members -->
  <!-- th:href="@{/index/projectMembers/{proj_id}(proj_id=${project.proj_id})}" -->