<nav class="navbar bg-body-tertiary" th:fragment="TopNav"  style=" height: 100%;" >

    <div class="container-fluid" style=" height: 100%; flex-direction: row; display: flex;">
        <a class="navbar-brand">TITLE DITO AT MGA BACK BUTTON</a>

        <div style="display: flex; flex-direction: column; height: 100%; width: 10%; justify-content: center; ">
          <Typography style="text-align: center; font-weight: bold"> Cespanol </Typography>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</button>
        </div>
    </div>
</nav>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
