<nav class="navbar bg-body-tertiary" th:fragment="TopNav" style="height: 100%">
  <div
    class="container-fluid"
    style="height: 100%; flex-direction: row; display: flex"
  >
    <div class="navbar-brand">
      <h1 class="font" style="font-family: 'Merriweather', serif;">Project Microservice</h1>
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 10%;
        justify-content: center;
      "
    >
      <Typography style="text-align: center; font-weight: bold; font-family: 'Merriweather', serif;" class="font">
        Cespanol
      </Typography>
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
       <Typography class="font" style="font-family: 'Merriweather', serif;">Logout</Typography>
      </button>
      <!-- Modal -->
      <div th:replace= "~{fragments/LogoutModal :: logoutModal }"></div>
</nav>

