.mainContainer{
    display: flex; 
    justify-content: center; 
    height: 100%; 
    width: 100% ;  
    border-radius: 10px; 
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}
.holder{ 
    flex-direction: row; 
    display: flex;   
    width: 100%; 
    height: 100%;
}

/* Attributes of Left */
.leftHolder{
    height: 100%; 
    width: 45%; 
    display: flex;  
    flex-direction: column;
}

/* Attributes of Project Name and Code */
.projName{
    height: 10%;
    padding: 1%; 
    margin-left: 10px;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
}
.projNameContainer{
    height: 100%; 
    width: 80%;
}
.projTitle{
    font-size: 30px;
    color: #272c43;
}
.projCode{
    font-size: 15px
}

/* Attributes of Dev Type and Others */
.calendarMain{
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.othersPlaceHolder{
    height: fit-content; 
    width: 98%;
}
.headerTitle{
    color: white;
}

/* Attributes of Description */
.descriptionContainer{
    height: 57.5%;  
    display: flex; 
    justify-content: center; 
    align-items: center;  

}
.description{
    height: 95%; 
    width: 98%;

}
.descrptionHolder{
    height: 100%; 
    width: 100%;  
    align-self: center;
    border-radius: 20px;
    background-color: white;
    border: 1px  solid rgba(0, 0, 0, 0.175);
}
.titleHolder{
    padding-top: 10px;
    background-color: #171e3a; 
    width: 100% ;
    padding-left: 20px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.descScroll{
    overflow-y: auto; 
    overflow-x: hidden ;  
    height: 80%;
}
.chipPlaceHolder{
    gap: 20px; 
    display: flex; 
    align-items: center; 
    overflow-y: auto; 
    overflow-x: hidden ; 
    justify-content: center; 
    flex-wrap: wrap;
}

/* Attributes of Right */
.rightHolder{
    height: 100%; 
    width: 55%; 
    align-items: center;  
    display: flex; 
    flex-direction: column;
    gap: 10px;
} 
/* Attributes of Calendar */
.rightPlaceHolderCalendar{
    height: 35%; 
    display: flex;  
    width: 98%;
    gap: 10px;
}
.cardHolderCalendar{
    height: 95%; 
    width: 50%;  
    align-self: center;
    border-radius: 20px;
    background-color: white;
    border: 1px  solid rgba(0, 0, 0, 0.175);  
}
.calendarContainer{
    text-align: center; 
    padding-top: 5px;   
    padding-bottom: 5px; 
    font-weight: bolder; 
    background-color: #171e3a; 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}
.calendar{
    pointer-events: none; 
    justify-content: center; 
    display: flex; 
    height: 80%;
}

/* Attributes of Project Manager */
.rightPlaceHolder{
    height: 60%; 
    display: flex;  
    width: 98%;
    flex-direction: row;
    gap: 10px;
}
.projectManagerContainer{
    height: 100%; 
    width: 50%;
}
.cardHolder{
    height: 100%; 
    width: 100%;  
    align-self: center;
    border-radius: 20px;
    background-color: white;
    border: 1px  solid rgba(0, 0, 0, 0.175);
}
.projectManager{
    background-color: white;
    border-radius: 20px;
}
.projScroll{
    overflow-y: auto; 
    overflow-x: hidden ; 
    height: 85%;
    display: flex;
}
.chipPlaceHolderManager{
    gap: 20px; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    align-items: center; 
    justify-content: center; 
}
.chipHolderManager{
    display: flex; 
    width: 80%; 
    background-color: #9e9db4; 
    padding: 5px 10px; 
    border-radius: 20px; 
    font-family: Arial, sans-serif; 
    justify-content: center; 
    background: rgba(255, 255, 255, 0); 
    border-radius: 16px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(2.1px); 
    -webkit-backdrop-filter: blur(2.1px); 
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.chip{
    width: 30px; 
    height: 30px; 
    background-color: #007bff;
    color: #fff; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 30px; 
    font-weight: bold; 
    margin-right: 10px;
}
.name{
    font-weight: bold;
}











